<div class="form-left-col">
  <label>Name:</label>
  <input id="name" name="name" type="text" value="<%= name %>" />
  
  <label>Quantity:</label>
  <input id="quantity" name="quantity" type="text" value="<%= quantity %>" />
  
  <label>Category:</label>
  <input id="category" name="category" type="text" value="<%= category %>" />
  
  <label>Vendor:</label>
  <input id="vendor" name="vendor" type="text" value="<%= vendor %>" />
  
  <label>Notes:</label>
  <textarea id="description" name="description"><%= description %></textarea>
  
  <button class="save">Save</button>
  <button class="delete">Delete</button>
</div>
