<div class='form-left-col'>
  
  <label>Name:</label>
  <input id='name' name='name' type='text' value='<%= name %>' required />
  
  <label>Quantity:</label>
  <input id='quantity' name='quantity' type='text' value='<%= quantity %>' />
  
  <label>Category:</label> 
  <input id='categoryId' name='categoryId' type='text' value='<%= categoryId %>' />
  
  <label>Vendor:</label>
  <input id='vendorId' name='vendorId' type='text' value='<%= vendorId %>' />   
  
  <br />
  <label>Notes:</label>
  <textarea id='description' name='description'><%= description %></textarea>
  
    <button class='save'>Save</button>
  <button class='delete'>Delete</button> 
</div>
