<div class="form-left-col">
  <label>Id:</label>
  <input id="itemId" name="id" type="text" value="<%= id %>" disabled />
  
  <label>Name:</label>
  <input id="name" name="name" type="text" value="<%= name %>" />
  
  <label>Quantity:</label>
  <input id="quantity" name="quantity" type="text" value="<%= quantity %>" />
  
  <label>CategoryId:</label>
  <input id="categoryId" name="categoryId" type="text" value="<%= categoryId %>" />
  
  <label>VendorId:</label>
  <input id="vendorId" name="vendorId" type="text" value="<%= vendorId %>" />
  
  <button class="save">Save</button>
  <button class="delete">Delete</button>
</div>

<div class="form-right-col">
  <label>Notes:</label>
  <textarea id="description" name="description"><%= description %></textarea>
</div>