<table>
  <tr><td><h3>Manage</h3></td></tr>
  <tr>
    <td><button id='receiveOrder' disabled>Receive Order</button></td><td>Click Here To Receive An Order Of Supplies</td>
  </tr>
  <tr>
    <td><button id='placeOrder' disabled>Place Order</button></td><td>Create An Order For More Supplies</td>
  </tr>    
  <tr>
    <td><button class='new' id='addItem'>Add Item</button></td><td>Add A New Item To Track</td>
  </tr>  
  <tr>
    <td><button id='viewLog'>View Log</button></td><td>View The Transaction Log</td>
  </tr>
  <tr>
    <td><button id='viewReport' disabled>Usage Report</button></td><td>View Usage Reports</td>
  </tr>
  <tr>
    <td><button id='manageUsers' disabled>Users</button></td><td>Manage User Settings</td>
  </tr>  
  <tr>
    <td><button id='manageCategories' disabled>Manage Categories</button></td><td>Make Changes To The Categories</td>
  </tr>
  <tr>
    <td><button id='returnInv'>Inventory</button></td><td>Display The Inventory List</td>
  </tr>      
</table>






